.container {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 200px;
  margin-top: 5px;
  background-color: brown;
}